{%load static%}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">
        <header id="header">
            <div class="inner">
                <a href="#" class="image avatar"><img src="" alt="" /></a>
            </div>
        </header>
			<div id="main">
				<!-- One -->
                <section id="one">
                    <h1>Obrigado {{ name_contact }}, seu contato foi recebido!</h1>
                    <ul class="actions">
                        <li><a href=" / " class="button">Come back</a></li>
                    </ul>
                </section>
	</body>
</html>